
:root {
    --vermelho: #e50914;
    --preta: #141414;
}

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;

}

/*base*/

body{
    background: var(--preta);
    font-family: Arial;
    color: whitesmoke;
}

header {
    background-color: rgba(0,0,0,.50);
    overflow: hidden;
    position: fixed;
    width: 100%;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    margin-right: 0px;
    
  
}
header .container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between ;
   
   
}

header .logo {
    color: var(--vermelho);
    font-family: 'Verdana';
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 20px;
   
}



header div nav   a {
    color: #AAA;
    margin-right: 20px;
    text-decoration: none;
    

}

header div nav a:hover {
    color: #fff;
   
    
    
}

header div nav a i{
    color:gray;
}
header div nav a i:hover{
    color: #fff;
}

header nav input {
    
    background-color: black;
    border-style: solid;
    border-color:rgb(163, 159, 159);
    border-width: 2px ;
    border-radius: 3px;
    width: 30%;
    height: 30px;
    color: whitesmoke;
    
}
/*banda principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url('/img/korn/background.jpg');
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.descricao {
    margin-bottom: 30px;
    font-size: 18.5px;
}

.titulo {
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main .container {
    width: 70%;
   
   
}

.container {
    margin-left: 4%;
}



.botoes {
    background-color:rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px;
    margin-right: 50px;
    
    margin-top: 10px ;
   
}

button:hover {
   
    background-color: #e50914;
    border-radius: 3px;
    cursor: pointer;
    transition: .8s ease all;
}



button i {
    margin-right: 5px;
}



.box-filme {
    display: flex;
    border-radius: 8px;
    


}



.carrosel-filmes {
    margin-left: 4%;
}

.owl-carousel {
    margin-bottom: 50px;
}